spring.application.name=trustfund
spring.datasource.url=jdbc:mysql://localhost:3306/trustfund_db
spring.datasource.username=root
spring.datasource.password=YOUR_MYSQL_PASSWORD_HERE

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true